<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Echoes - Free HTML Bootstrap Template</title>
      <!-- Css -->
      <link href="static/css/bootstrap.css" rel="stylesheet">
      <link href="static/css/style.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-default color-fill navbar-fixed-top">
         <div class="col-md-12">
            <div class="nav">
               <button class="btn-nav">
               <span class="icon-bar top"></span>
               <span class="icon-bar middle"></span>
               <span class="icon-bar bottom"></span>
               </button>
            </div>
            <a class="navbar-brand" href="/index">
            <img class="logo" src="static/img/logoJa.png" alt="logo">
            </a>
            <div class="nav-content hideNav hidden">
               <ul class="nav-list vcenter">
                  <li class="nav-item"><a class="item-anchor" href="/index">Home</a></li>
                  <li class="nav-item"><a class="item-anchor" href="/about">About Me</a></li>
                  <li class="nav-item"><a class="item-anchor" href="/portfolio">Gallery Of Movies</a></li>
                  <li class="nav-item"><a class="item-anchor" href="/contact">Contact</a></li>
                  <li class="nav-item"><a class="item-anchor" href="/index2">services</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <section id="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1>
                     Funny, Crying, Touching
                     <br>
                     That's the charm of the movie.
                  </h1>
                  <br>
                  <img class="img-responsive margin-top-45" src="static/img/c.jpg" alt="me">
               </div>
            </div>
            <br>
            <div class="row margin-top-45">
               <div class="col-md-3">
                  <h2>My story</h2>
               </div>
               <div class="col-md-9">
                  <p>
                     เนื่องจากวงการหนังอยู่กับผู้คนมานานนับหลายร้อยปี สร้างเสียงหัวเราะ ความซึ้งใจและน้ำตาของผู้อินไปกับเรื่องราวในหนังสือเรื่องนั้นเป็นอีกเสน่ห์อย่างหนึ่งของหนัง
                  </p>
                  <br>
                  <p>  
                     แต่เมื่อหนังมีการฉายมาเนิ่นนานก็ต้องมีเรื่องสักเรื่องที่ถูกใจผู้คน หรือไม่ก็ไม่โดนใจเลย เราจึงมีการสร้างเว็บไซต์รีวิวความน่าดูของหนังออกมาก
                  </p>
               </div>
            </div>
            <div class="row margin-top-45">
               <div class="col-md-3">
                  <h2>Services</h2>
               </div>
               <div class="col-md-9">
                  <p>
                     ในส่วนของเว็บเรานั้นจะเน้นไปกับการรีวิวหนังแต่ละเรื่องที่เข้าฉายในแต่ละเดือนพร้อมทั้งเรตติ้ง (rating) ของหนังเรื่องนั้นจากท่านผู้ชมทุกท่าน เพื่อสร้างความการันตีให้อยากดูหนังเพิ่มมากขึ้น
                  </p>
               </div>
            </div>
            <div class="row margin-top-45">
               <div class="col-md-3">
                  <h2>Type Of Movie</h2>
               </div>
               <div class="col-md-9">
                  <div class="row">
                     <div class="col-md-4">
                        <ul class="list-unstyled">
                           <li>Action</li>
                           <li>Adventure</li>
                           <li>Comedy</li>
                           <li>Crime</li>
                        </ul>
                     </div>
                     <div class="col-md-4">
                        <ul class="list-unstyled">
                           <li>Drama</li>
                           <li>Fantasy</li>
                           <li>History</li>
                           <li>Horror</li>
                        </ul>
                     </div>
                     <div class="col-md-4">
                        <ul class="list-unstyled">
                           <li>Muscial</li>
                           <li>Mystery</li>
                           <li>Romance</li>
                           <li>Sci-Fi</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- script -->
      <script src="static/js/jquery.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/modernizr.js"></script>
      <script src="static/js/script.js"></script>
   </body>
</html>